@{
    Layout = "_Layout";
}
@if (@Model.GetNewStatus()==true)
    {
        <h1>You've successfully added a new contact.</h1>
    }
<h2>Contact Details</h2>
<h2>@Model.GetContactName()</h2>
<h3>@Model.GetPhone()</h3>
<ul>
    <li>@Model.GetAddress().GetStreet()</li>
    <li>@Model.GetAddress().GetCity()</li>
    <li>@Model.GetAddress().GetState()</li>
    <li>@Model.GetAddress().GetZip()</li>
</ul>
<form action='/contacts/@Model.GetId()/remove' method="post">
    <button type="submit">Remove This Contact</button>
</form>
<p><a href='/'>Return Home</a></p>
